@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

html{
    background-color: #212429;
    font-family: "Ancizar Serif", system-ui, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #f9fafb;
    font-weight: bold;
}

header{
    border: none;
}

nav{
    border-bottom: 3px solid grey;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

p, ul a, td, li{
    color: #bdc4d3;
}

a:hover{
    color: #e01c5e;
}

section{
    padding: 1rem;
    margin: 2rem;
}

#perfil{
    margin: 4rem;
}

a{
    text-decoration: none;
}

h2, th{
    color: #ccd2df;
}

h2{
    font-size: 30px;
}

h3{
    color: #e01c5e;
    font-size: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

h1{
    text-align: center;
}

.invisible{
    display: none;
}

#perfil{
    display: flex;
    justify-content: space-evenly;
}

#perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mostrar-proyectos{
    display: flex;
    justify-content: space-between;
}

#proyectos {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     row-gap: 1rem;
     column-gap: 1rem;

}

#proyectos > h2 {
     grid-column: 1 / -1;
}

#proyectos > div, .habilidad {
    text-align: center;
     background-color: #2c2f33;
     padding: 1rem;
     border-radius: 0.5rem;
     box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

button, input[type="submit"]{
    color:#e01c5e;
    background-color: #212429;
    border: #23252a 0.5px;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.3);
}

.proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.proyecto a{
    text-decoration: none;
}

.nombre{
    font-weight: bold;
    font-size: 50px;
}

.resaltado{
    color:#e01c5e
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    text-align: left;
    color: #ccd2df;
}

.estudio {
    font-size: 20px;
    color: #ccd2df;
    font-weight: 600;
    margin-bottom: 0.3rem;
    text-align: left;
    letter-spacing: 0.5px;
}

p{
    margin: 10px 10px 10px 10px;
}

#educacion{
    display: grid;
    grid-template-columns: 2fr 20px 2fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

#educacion > h2 {
    grid-column: 1 / -1;
}

.circular{
    border-radius: 50%;
}

.linea{
    color: white;
    background-color: white;
    width: 300px;
    height: 2px;
}

.cuadro{
    justify-self: stretch;
    background-color: rgb(87, 85, 85);
}

.imagen-timeline{
    display: flex;
    align-items: center;
}

.der{
    justify-content: end;
}

.izq{
    justify-content: start;
}

.textizq{
    text-align: left;
    padding-left: 20px;
}

.textder{
    text-align: right;
    padding-right: 20px;
}

.negrita{
    font-weight: 800;
}

.descripcion{
    background-color: #2c2f33;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

#contacto{
     display: grid;
     grid-template-columns: 1fr 1fr;
     row-gap: 1rem;
     column-gap: 3rem;
}

#contacto > h2 {
     grid-column: 1 / -1;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea{
    height: 100px;
    resize: none;
}

legend, label{
    color:#bdc4d3;
    font-weight: bold;
}

fieldset label{
    font-weight: 400;
}

table{
    border: 3px solid #181b1f;
    border-collapse: collapse;
    margin-bottom: 3rem;
    width: 100%;
}

th, td{
    padding: 0.5rem;
    text-align: center;
}

th{
    background-color: #b10941;
}

td{
    background-color: #2c2f33;
}

tr:nth-child(1) {
    border: 10px solid transparent;  
}

.habilidades-blandas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: start;
    column-gap: 3rem;
}

.habilidad h3{
    color: #f9fafb;
}

.habilidad {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    height: auto;
    gap: 5rem;
}

footer {
    display: flex;
    text-align: center;
    padding: 1rem 0;
    background-color: #2c2f33;
    color: #bdc4d3;
    justify-content: space-evenly;
}

.red{
    color:#e01c5e; 
    text-decoration:none;
}